*{
	padding:0px;
	margin:0px;
	list-style: none;
	text-decoration:none;
	box-sizing: border-box;
}

.nav{
	margin:0;
	padding:0;
	width:100vw;
	background:white;
	height:90px;
}

.logo{
	float:left;
	 line-height:80px;
}
.container{
	margin-top:-8px;
	padding:0;
	list-style: none;

}
.ul{
	margin-left:15vw;
}
.item{
	color:black;
	height:90px;
	line-height: 85px;
	display: inline;
	margin-right:-4.3px;
	font-size:20px;
	padding: 35px 35px 35px 35px;
}

.item:hover{
	border-bottom: solid;
	border-bottom-width:2.4px;
	color:darkorange;
	background:#EFEFEF;
	transition:.2s;
}
.search{
	width:300px !important;
	height:40px !important;
	margin:22px 0 0 100px !important;
}
.material-icons{
	color: black;
}
.material-icons:hover{
	color:darkorange;
	transition:.2s;
}
body {
  font-family: Arial;
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 12px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.flex{
	display:flex;
	justify-content: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.search_box {
	display: inline-block;
	padding: 0px;
	background-color: white;
	transition: transform .2s; /* Animation */
	width: 330px;
	height: 340px;
	margin: 20px 15px 70px 90px;
}
.search_box:hover {
	transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.box {
  padding: 0px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 280px;
  height: 350px;
  margin: 30px auto;
}

.box:hover {
  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.name{
	position:relative;top:2%;right:-2%;
}
.Price_box {
	display: inline-block;
	margin: 25px;
	text-align: right;
	width: 73px;
	height: 40px;
}
.Name_box {
	display: inline-block;
	text-align: left;
	width: 207px;
	height: 40px;
}
.price{
	position:relative;top:130%;left:60%;
	justify-content: right;
}
.img{
	width:280px;

}
.footer{
	margin-top:80px;
	width:100%;
	height:200px;
	display:flex;
	justify-content: center;
	justify-content: space-around;
	background:#111;
}
.search_ipad{
	display:none;
}
.hot{
	text-align:center;
	font-size: 80px;
	color:darkorange;
	font-weight: bolder;
	padding-bottom:10px;
}
.phone{
	margin:15px 0px;
	 float: left;
}
.nmra{
	color: white;
	display: inline;
	padding:19px 8px;
}
@media(max-width:1025px){
	.box{
		margin-bottom:50px;
	}
	.ul{
		display:none;
	}
	.search{

	 display:none !important;
	}
	.search_ipad{
		display:flex !important;
		justify-content:space-evenly !important;
	}
	.ipad{
		display: none;
	}
	.nav{
		display:flex;
		justify-content: center;
	}
  }
  @media(max-width:480px){
	.hot{
		display:block;
		font-size:47px;
	}
	.next,.prev{
		margin-top:0.85mm;
	}
	.iconmob{
		width:28px;
	}
	.headmobile{
		font-size: 19px;
	}
	.nmra{
		font-size:12px;
		line-height: 40px;;
	}
  }
  @media(min-width:1580px){
   .nav{
	display:flex;
	justify-content: center;
	justify-content: space-evenly;
   }
   .logo{
	align-self: left;
   }
  .hot{
	text-align: center;
  }
  }



@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	font: 14px/22px "Lato", Arial, sans-serif;
	background: #6394f8;
}
.lighter-text {
	color: #abb0be;
}
.main-color-text {
	color: #6394f8;
}
nav {
	padding: 20px 0 40px 0;
	background: #f8f8f8;
	font-size: 16px;
}
nav .navbar-left {
	float: left;
}
nav .navbar-right {
	float: right;
}
nav ul li {
	display: inline;
	padding-left: 20px;
}
nav ul li a {
	color: #777;
	text-decoration: none;
}
nav ul li a:hover {
	color: black;
}
.container {
	margin: auto;
	width: 80%;
}
.badge {
	background-color: #6394f8;
	border-radius: 10px;
	color: white;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	padding: 3px 7px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.shopping-cart {
	margin: 20px 0;
	float: right;
	background: white;
	width: 320px;
	position: relative;
	border-radius: 3px;
	padding: 20px;
}
.shopping-cart .shopping-cart-header {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
	float: right;
}
.shopping-cart .shopping-cart-items {
	padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
	margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
	float: left;
	margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
	display: block;
	padding-top: 10px;
	font-size: 16px;
}
.shopping-cart .shopping-cart-items .item-price {
	color: #6394f8;
	margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
	color: #abb0be;
}
.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}
.cart-icon {
	color: #515783;
	font-size: 24px;
	margin-right: 7px;
	float: left;
}
.button {
	background: #6394f8;
	color: white;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 3px;
	font-size: 16px;
	margin: 25px 0 15px 0;
}
.button:hover {
	background: #729ef9;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
