*{
	padding:0px;
	margin:0px;
	/*list-style: none;*/
	text-decoration:none;
	box-sizing: border-box;
}

main{
	min-height: 88vh;
}

.logo{
	float:left;
	line-height:63px;/*was 80*/
	height:50px;
}

.navbar-brand{
	width: 25vw;
}

.search{
	max-width:20vw;
}

.form-control:focus {
    outline: 0;
	/*box-shadow: 2px 2px 0px 2px #888888;*/
	border: 1px solid;
    border-color: white !important;
    box-shadow: none !important;
}

/*Overridding search btn color*/
.btn-outline-primary{
	color: darkorange !important;
	border-color: darkorange !important;
}

.btn-outline-primary:hover{
	background-color:darkorange !important;
	color:white !important;
}

.btn-outline-primary:active{
	background-color:rgb(209, 115, 0)!important;
	border-color: rgb(209, 115, 0) !important;
}

/*Cart/Profile*/
.material-icons{
	color: black;
}

.material-icons:hover{
	color:darkorange;
	transition:.2s;
}

.dropmenu_hover:active{
	background-color: #f8f9fa !important;
	color: darkorange !important;
}

/*HOTDEALS*/
.hot{
	text-align:center;
	font-size: 80px;
	color:darkorange;
	font-weight: bolder;
	padding-bottom:10px;
	text-shadow:4px 3px 0.5px black;
}

/*Slider*/
.slider{
	margin-right:12vw;
	margin-left:12vw;
	margin-top:-8px;
}

.slider_img{
	height: 38vw;
}

/*Products*/
.flex{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.box{
	padding: 0px;
	background-color: white;
	transition: transform .2s; /* Animation */
	width: 280px;
	height: 280px;
	margin: 45px 28px;
	border-radius:5px;
}

.box:hover{
	box-shadow:0px 0px 25px #AAAAAA;
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img{
	width:280px;

	border-radius:5px;
}

.name{
	float: left;
	padding-left: 4px;
}

.price{
	padding-right: 4px;
	float: right;
}

/*Footer*/
.footer{
	margin-top:80px;
	width:100%;
	height:200px;
	display:flex;
	justify-content: space-around;
	background:#111;
}

.phone{
	display: inline;
	margin:15px 0px 0px 0px;
	float: left;
}

.num{
	color: white;
	display: inline;
	float: right;
	padding:18px 0px 0px 11px;
}
.filter{
	margin-right: 8%;
	display: flex;
	flex-direction: row-reverse;
}

/*PC View*/
@media(min-width:992px){
	.menu{
		display: none !important;/*Hides shopping cart & profile from navbar*/
	}
	/*Home-Men-Women Style*/
	.item{
		color:black;
		line-height: 50px;
		display: inline;
		margin-right:-16px; /*was 4.3*/
		font-size:22px;
		padding: 35px 35px 30px 35px;
	}
	.item:hover{
		border-bottom: 3px solid darkorange !important;
		border-bottom-width:2.4px;
		color:darkorange;
		background:#E5E5E5;
		transition:.2s;
	}
	.filter{
		width: 87vw;
	}
}

/*Tablets View*/
@media(max-width:992px){
	.search{
		max-width: 100% !important;
	}
	.ipad{
		display: none;/*Hidding Cart-Profile*/
	}
	/*Home-Men-Women Style*/
	.item{
		display: inline;
		line-height: 30px;
		font-size:22px;
		padding: 10px 0px 10px 10px !important;
		margin: -5px 0px -5px 0px !important;
	}
	.menu_hover{
		display: flex !important;
	}
	.menu_hover:hover{
		border-radius: 10px;
		background:#E5E5E5;
		color:darkorange;
		transition:.2s;
	}
	/*Slider Style*/
	.slider{
		margin-right:0vw;
		margin-left:0vw;
	}
	.slider_img{
		height: 55vw;
	}
	.filter{
		justify-content: center;
	}
}

/*Mobiles View*/
@media(max-width:480px)
{
	.logo{
		height:37px !important;
	}
	/*HOTDEALS*/
	.hot{
		display:block;
		font-size:47px;
	}
	/*Footer*/
	.iconmob{
		width:28px;
	}
	.headmobile{
		font-size: 19px;
	}
	.num{
		padding:18px 0px 0px 7px ;
		font-size:14px;
		line-height: 20px;
	}
	.filter{
		justify-content: center;
	}
}

@media (max-width: 378px){
	.headmobile{
		font-size: 16px;
	}
	.num{
		padding:16px 0px 0px 7px ;
		font-size:12px;
		line-height: 20px;
	}
	.iconmob{
		width:24px;
	}
	.filter{
		justify-content: center;
	}
}

.page-wrapper {
	height: 100%;
	margin-top: 3vw;
	display: flex;
	justify-content: space-around !important;
	flex-wrap: wrap;
	/* display: table; */
}

.page-wrapper .page-inner {
	display: table-cell;
	vertical-align: middle;
}

.el-wrapper {
	width: 360px;
	padding: 15px;
	margin: 15px auto;
	background-color: #fff;
}

@media (max-width: 991px) {
	.el-wrapper {
		width: 345px;
	}
}

@media (max-width: 767px) {
	.el-wrapper {
		width: 290px;
		margin: 30px auto;
	}
}

.el-wrapper:hover .h-bg {
	left: 0px;
}

.el-wrapper:hover .price {
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: darkorange;
}

.el-wrapper:hover .add-to-cart {
	left: 55%;
}

.el-wrapper:hover .img {
	webkit-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
	opacity: 0.4;
}

.el-wrapper:hover .info-inner {
	bottom: 155px;
}

.el-wrapper:hover .a-size {
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
	bottom: 50px;
	opacity: 1;
}

.el-wrapper .box-down {
	width: 100%;
	height: 60px;
	position: relative;
	overflow: hidden;
}

.el-wrapper .box-up {
	width: 100%;
	height: 300px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.el-wrapper .img {
	padding: 20px 0;
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
}

.h-bg {
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	width: 660px;
	height: 100%;
	background-color: darkorange;
	position: absolute;
	left: -659px;
}

.h-bg .h-bg-inner {
	width: 50%;
	height: 100%;
	background-color: #464646;
}

.info-inner {
	-webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: 250px;
}

.info-inner .p-name,
.info-inner .p-company {
	display: block;
}

.info-inner .p-name {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
	color: #252525;
}

.info-inner .p-company {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #8c8c8c;
}

.a-size {
	-webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: -20px;
	font-family: 'PT Sans', sans-serif;
	color: #828282;
	opacity: 0;
}

.a-size .size {
	color: #252525;
}

.cart {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

.cart .price {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #252525;
}

.cart .add-to-cart {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 110%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
	font-size: 12px;
	color: #fff;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	white-space: nowrap;
	padding-left: 12px;
}
select {
	outline:none;
}

.sort{
	background-color:white;
	padding: 3px 12px 7px;
	border: 0;
}

.sortBtn.btn-outline-primary{
	color: darkorange !important;
	border-color: darkorange !important;
}
.sortBtn.btn-outline-primary:hover{
	background-color:darkorange !important;
	color:white !important;
}
.sortBtn.btn-outline-primary:active{
	background-color:rgb(209, 115, 0)!important;
	border-color: rgb(209, 115, 0) !important;
}
.hide{
	display: none;
}
/*/////////////////////////////*/
/** Custom Select **/
.custom-select-wrapper {
	position: relative;
	display: inline-block;
	user-select: none;
}
.custom-select-wrapper select {
	display: none;
}
.custom-select {
	z-index: 5;
	position: relative;
	display: inline-block;
}
.custom-select-trigger {
	position: relative;
	display: block;
	width: 0px;
	font-size: 22px;
	font-weight: 300;
	color: black;
	line-height: 60px;
	background: #5c9cd8;
	border-radius: 4px;
	cursor: pointer;
	margin-left: -18px;
	padding-bottom: 7px;
}
.custom-select-trigger:after {
	position: absolute;
	display: block;
	content: '';
	width: 10px; height: 10px;
	top: 50%; left: 25px;
	margin-top: -3px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	transform: rotate(45deg) translateY(-50%);
	transition: all .4s ease-in-out;
	transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
	margin-top: 3px;
	transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
	position: absolute;
	display: block;
	top: 60%;
	right: -42.41px;
	width:200px;
	z-index: 5;
	margin: 15px 0;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-sizing: border-box;
	box-shadow: 0 2px 1px rgba(0,0,0,.07);
	background: #fff;
	transition: all .4s ease-in-out;

	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateY(-15px);
}
.custom-select.opened .custom-options {
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	transform: translateY(0);
}
.custom-options:before {
	position: absolute;
	display: block;
	content: '';
	bottom: 100%; right: 25px;
	width: 7px; height: 7px;
	margin-bottom: -4px;
	border-top: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	background: #fff;
	transform: rotate(45deg);
	transition: all .4s ease-in-out;
}
.option-hover:before {
	background: #f9f9f9;
}
.custom-option {
	position: relative;
	display: block;
	padding: 0 22px;
	border-bottom: 1px solid #b5b5b5;
	font-size: 18px;
	font-weight: 600;
	color: #b5b5b5;
	line-height: 47px;
	cursor: pointer;
	transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
	border-radius: 4px 4px 0 0;
}
.custom-option:last-of-type {
	border-bottom: 0;
	border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
	background: #f9f9f9;
}