.shadow1{
  box-shadow:10px 10px 25px  #888888;
}

main{
	min-height: 88vh;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  margin: auto;
  /* display: flex; */
  color: #444444;
}

.container {
  font-family: "Oswald", sans-serif;
  margin: 30px;
  width: 100%;
  max-width: 900px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h5 {
  text-transform: uppercase;
  margin: 0;
  font-size: 14px;
  display: block !important;
  width: 200px !important;
}

ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
}

a {
  text-decoration: none;
  color: #bbb;
}

.product-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #6bffc8 0%, #42c8cb 100%);
  border-radius: 20px 20px 0 0;
  padding: 105px 20px 0px 0px;
  width: 100%;
  height: 510px;
  margin: auto;
}

.product-pic {
  width: 350px;
  left: 0;
  display: flex;
  margin: -40px 0px 0px 0px;
  filter: drop-shadow(-6px 40px 23px rgba(0, 0, 0, 0.5));
}

.product-details {
  padding: 40px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.product-details .title {
  text-transform: uppercase;
  margin: 0;
}

.product-details .colorCat {
  text-transform: uppercase;
  font-style: italic;
  color: #bbb;
  font-weight: 700;
  font-size: 14px;
}

.product-details .price {
  font-weight: 700;
  margin-top: 5px;
  font-size: 18px;
}

.product-details .price .current {
  color: #fe6168;
  margin-left: 6px;
}

.product-details .before {
  text-decoration: line-through;
}

.product-details header {
  margin-bottom: 50px;
  position: relative;
}

.product-details article > h5 {
  margin: 0;
}

.product-details article > p {
  color: #bbb;
  margin: 0.5em 0;
  font-size: 14px;
  line-height: 1.6;
}

.product-details .controls {
  margin: 3em 0;
}

.product-details .controls > div {
  flex: 1;
}

.product-details .controls .option {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}

.product-details .controls .option:hover {
  color: #444444;
}

.product-details .controls .option::before {
  content: "";
  position: absolute;
  border-width: 2px 2px 0 0;
  border-style: solid;
  top: 0;
  bottom: 0;
  height: 5px;
  width: 5px;
  right: -18px;
  margin: auto;
  transform: rotate(135deg);
}

.product-details .controls > div + div {
  margin-top: 20px;
  flex: none;
}

.product-details .controls ul {
  display: flex;
  margin: 15px 5px;
}

.product-details .color li + li {
  margin-left: 15px;
}

.product-details .colors {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}

.product-details .color-bdot1 {

  background-color: #59e8c8;
}
.product-details .color-bdot1:hover, .product-details .color-bdot1.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px ;
}

.product-details .color-bdot2 {
  background-color: #ffee71;
}

.product-details .color-bdot2:hover, .product-details .color-bdot2.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #ffee71;
}

.product-details .color-bdot3 {
  background-color: #6654af;
}

.product-details .color-bdot3:hover, .product-details .color-bdot3.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #6654af;
}

.product-details .color-bdot4 {
  background-color: #343434;
}

.product-details .color-bdot4:hover, .product-details .color-bdot4.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #343434;
}

.product-details .color-bdot5 {
  background-color: #dfdfdf;
}

.product-details .color-bdot5:hover, .product-details .color-bdot5.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #dfdfdf;
}

.product-details .rate {
  position: static;
  margin-top: 10px;
}

.product-details .rate a {
  font-size: 18px;
  color: #bbb;
}

.product-details .rate a.active, .product-details .rate a:hover {
  color: #fe6067;
}

.dots {
  display: flex;
  margin-top: 40px;
}

.dots > a {
  background-color: #349a98;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
}

.dots > a:hover, .dots > a.active {
  background-color: white;
}

.dots i {
  display: none;
}

.footer1 {
  display: flex;
  align-items: center;
}

.footer1 > button {
  display: flex;
  border: 0;
  padding: 15px 25px;
  align-items: center;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to bottom, #ff886b 0%, #ff4164 100%);
  box-shadow: 0 10px 30px 0 rgba(255, 136, 107, 0.7);
  transition: 200ms;
}

.footer1 > button:hover {
  background: linear-gradient(to bottom, #ff4164 0%, #ff886b 100%);
}

.footer1 > button > img {
  width: 31px;
}

.footer1 > button > span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}

.footer1 > button img {
  width: 24px;
  opacity: 0.8;
}

.footer1 > button:hover img {
  opacity: 1;
}

@media (min-width: 37.5em) {
  .product-details .rate {
    position: absolute;
    top: 12px;
    right: 10px;
    margin-top: 0;
  }
  .product-details .controls > div.qty {
    width: 60px;
  }
  .product-details .controls > div + div {
    border-left: 2px solid rgba(187, 187, 187, 0.5);
    padding-left: 25px;
    padding-right: 25px;
    width: 100px;
    margin-top: 0;
  }
  .product-details .controls {
    display: flex;
  }
}

@media (min-width: 56.25em) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: normal;
    margin: auto;
  }

  .product-image {
    border-radius: 20px 0 0 20px;
    max-width: 500px;
  }

  .product-pic {
    left: -40px;
    max-width: 500px;
  }

  .product-details {
    height: 511px !important;
    width: 100%;
    border-radius: 0 20px 20px 0;
  }
}

/*////////////   Size Select Dropdown Menu   ////////////*/


.hide{
  display: none;
}

.select-menu .select-btn {
  font-size: 18px;
}

.select-menu .options {
  position: absolute;
  overflow-y: auto;
  z-index: 2;
  max-height: 145px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-duration: 0.35s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.000000000000000000000000000000001ms;
  -webkit-animation-fill-mode: both;
}

.select-menu .options .option {
  display: flex;
  height: 51px;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 8px;
  align-items: center;
  background: #ffffff;
}

.select-menu .options .option:hover {
  background: #f2f2f2;
}

.select-menu .options .option i {
  font-size: 25px;
  margin-right: 12px;
}

.select-menu .options .option .option-text {
  font-size: 18px;
  color: #333;
}

.select-btn i {
  transition: 0.3s;
}

.select-menu.active .options {
  display: block;
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }
}

ul::-webkit-scrollbar-track
{
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

ul::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;
}

ul::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  background-color: #3b71ca;
  border: 2px;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 0px;
  font-size: 22px;
  font-weight: 300;
  color: white!important;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
  margin-left: -18px;
  padding-bottom: 7px;
}
.custom-select-trigger:after {
  position: absolute;
  display: block;
  content: '';
  width: 10px; height: 10px;
  top: 50%; left: 25px;
  margin-top: 8px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  transform: rotate(45deg) translateY(-50%);
  transition: all .4s ease-in-out;
  transform-origin: 50% 0;
}
@media (max-width: 992px) {
  .footer1{
    flex-flow: column !important;
  }
}