body{
    background-image: url("../../../media/shoes/Media/cart1.jpg") !important;
    background-size:cover !important;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
.anker{
    border-radius: 5px;
    background-color: #0071c5;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white !important;
}
@media (max-width: 1400px) {
    p.text-start{
        width: 80px;
    }
}