ul.errorlist{
	padding: 0px !important;
	list-style-type: none !important;
	color: #E4413B !important;
}
body {
	background-image: url("../Media/shoe.webp");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin:0;
	padding:0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#form {
	width: 500px;
	height:100%;
	margin: 12vh 0px;
	padding: 20px;
	background-color: whitesmoke;
	border-radius: 4px;
	font-size: 12px;
}

#form h1 {
	color: #0f2027;
	text-align: center;
}

#form button {
	padding: 10px;
	margin-top: 10px;
	width: 100%;
	color: white;
	background-color: #009F6B;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#form button:hover{
    box-shadow: 2px 2px 8px 0px rgb(0, 0, 0,0.7) ;
}
#form button:active{
    background-color: rgb(0 129 87);
    border-color: rgb(0 129 87);
}

.input-control {
	display: flex;
	flex-direction: column;
}

.input-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 4px;
}

.input-control input:focus {
	outline: 0;
	/*box-shadow: 2px 2px 0px 2px #888888;*/
	border: 1px solid;

    border-color: rgba(0, 159, 107, 0.5);
    box-shadow: 0px 0px 5px .1px rgba(0, 159, 107, 0.7);
}

.input-control.success input {
	border-color: #09c372;
}

.input-control.error input {
	border-color: #ff3860;
}

.input-control .error {
	color: #ff3860;
	font-size: 9px;
	height: 13px;
}
@media(max-width:1030px){
	body{
		background-image: url("../Media/1024.webp") !important;
		background-size:cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin:0;
		padding:0;
	}
	.input-control input {
		font-size:12px;
	}
	.input-control input:focus {
    outline: 0;
	/*box-shadow: 2px 2px 0px 2px #888888;*/
	border: 1px solid;

    border-color: rgba(3, 70, 148, 0.5) ;
    box-shadow: 0px 0px 5px .1px rgba(3, 70, 148, 0.7);
    }
	#form button {
    background-color: #034694;
    }
    #form button:active{
    background-color: #023570 !important;
    border-color: #023570 !important;
    }
}
@media(max-width:712px) {
	body {
		background-image: url("../Media/712.webp") !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 0;
		padding: 0;
	}

	#form button {
		background-color: #034694;

	}
	#form{
		width:70%;
		margin-left:0;
		margin-right:0;
	}
}
@media(max-width:450px){
	body{
		background-image: url("../Media/412.webp") !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-color:#0071c5 !important;
		width:100%;

	}
	.container{
		justify-content: space-around;
	}
	#form{
		width:70%;
		margin-left:0;
		margin-right:0;
	}
	.input-control input:focus {
    outline: 0;
	/*box-shadow: 2px 2px 0px 2px #888888;*/
	border: 1px solid;

    border-color: rgba(233, 160, 96, 0.5) ;
    box-shadow: 0px 0px 5px .1px rgba(233, 160, 96, 0.7);
    }
	#form button {
		background-color: #e9a060;
	}
    #form button:active{
    background-color:   #d89459 !important;
    border-color: #d89459 !important;
    }
}
@media(max-width:380px) {
	body {
		background-image: url("../Media/375.webp") !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		margin: 0;
		padding: 0;
	}
}
@media(max-width:321px){
	#form{
		margin-bottom:80px;
	}

}
