<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page_name %}
        <title>Shoezone - {{ page_name }}</title>
    {% else %}
        <title>Shoezone</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="../../../media/shoes/Media/favicon.png">

    {% block head %}{% endblock head %}
</head>

{% if class_css %}
    <body class="{{class_css}}">
{% else %}
    <body>
{% endif %}
{% if nav %}
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color:#F1F1F1">
            <div class="container-fluid">
                <span class="navbar-brand"><a href="{% url 'shoes-home' %}"><span><img draggable="false" src="../../../media/shoes/Media/logo.png" class="logo" draggalbe="false"/></a></span></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-	expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-auto mb-1 mb-lg-10 justify-content-end">
                        <a href="{% url 'shoes-home' %}" style="text-decoration: none;" class="nav-link active item_menu" aria-current="page">
                            <li class="item nav-item menu_hover">Home</li>
                        </a>
                        <a href="{% url 'men' %}" style="text-decoration: none;" class="nav-link active item_menu" aria-current="page">
                            <li class="item nav-item menu_hover">Men</li>
                        </a>
                        <a href="{% url 'women' %}" style="text-decoration: none;" class="nav-link active item_menu" aria-current="page">
                            <li class="item nav-item menu_hover">Women</li>
                        </a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'cart' %}" style="text-decoration: none;" class="nav-link active item_menu menu" aria-current="page" >
                                <li class="item nav-item menu_hover">Shopping Cart</li>
                            </a>
                        {% else %}
                            <a href="" onclick="myfunction()" style="text-decoration: none;" class="nav-link active item_menu menu" aria-current="page" >
                                <li class="item nav-item menu_hover">Shopping Cart</li>
                            </a>
                        {% endif %}
                        <li class="nav-item dropdown menu item">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black">
                                Profile
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                    <h6 class="wlcmMsg">Hi, {{ user.username }}</h6>
                                    <hr style="margin:5px">
                                    <li><a class="dropdown-item dropmenu_hover" href="{% url 'profile' %}" name="">Profile</a></li>
                                    <li><a class="dropdown-item dropmenu_hover" href="{% url 'logout' %}" name="register">Logout</a></li>
                                {% else %}
                                    <li><a class="dropdown-item dropmenu_hover" href="{% url 'login' %}" name="register">SignIn/SignUp</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex input-group search" role="search" method=POST action="{% url 'search_shoes' %}">
                        {% csrf_token %}
                        <input class="form-control" type="search" placeholder="Search For a Brand" aria-label="Search" name="searched" style="border-radius: 0.375rem 0px 0px 0.375rem" />
                        <button class="btn btn-outline-primary" type="submit" >Search</button>
                    </form>
                </div>
                <script>
                    function myfunction(){
                        alert("Please Sign in :(");
                    }
                </script>
                {% if user.is_authenticated %}
                    <li class="nav-item ipad" style="list-style:none;">
                        <a class="nav-link " href="{% url 'cart' %}">
                            <i class="material-icons" style="font-size:42px;margin:5px 0px 0px 23px;" title="Shopping Cart">shopping_cart</i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item ipad" style="list-style:none;">
                        <a class="nav-link " onclick="myfunction()" href="">
                            <i class="material-icons" style="font-size:42px;margin:5px 0px 0px 23px;" title="Shopping Cart">shopping_cart</i>
                        </a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown ipad" style="margin-top: -10px;list-style:none;">
                    <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle material-icons" style="font-size:38px; margin:0px 0px 0px 16px;" title="Profile"></i>
                    </a>
                    <ul class="dropdown-menu" style="margin:1.4vw 0vw 0vw -190%">
                        {% if user.is_authenticated %}
                            <h6 class="wlcmMsg">Hi, {{ user.username }}</h6>
                            <hr style="margin:5px">
                            <li><a class="dropdown-item dropmenu_hover" href="{% url 'profile' %}" name="">Profile</a></li>
                            <li><a class="dropdown-item dropmenu_hover" href="{% url 'logout' %}" name="register">Logout</a></li>
                        {% else %}
                            <li><a class="dropdown-item dropmenu_hover" href="{% url 'login' %}" name="register">SignIn/SignUp</a></li>
                        {% endif %}
                    </ul>
                </li>
            </div>
        </nav>
    </header>
{% endif %}

{% block content %}{% endblock content %}
</body>

{% if nav %}
    <footer class="footer">

        <span style="margin: 20px 0 0 20px">
            <section style="color: white; font-weight: bold;"><h3 class="headmobile ">Social Media</h3></section>
            <section  style="text-align: center"><a href="https://www.instagram.com/shoe.zone21/?igshid=YmMyMTA2M2Y%3D" target="_blank">
{#                <img class="iconmob" src="/ShoeZone/static/Media/instagram.png" style="margin: 15px 0px;"/></a>#}
                <img class="iconmob" src="../../../media/shoes/Media/instagram.png" style="margin: 15px 0px;"/></a>
                </section>
            <section  style="text-align: center"><a href="https://www.facebook.com/profile.php?id=100064368121508&mibextid=ZbWKwL" target="_blank">
{#                <img class="iconmob" src="/ShoeZone/static/Media/facebook.png" style="margin: 15px 0px;"/></a>#}
                <img class="iconmob" src="../../../media/shoes/Media/facebook.png" style="margin: 15px 0px;"/></a>
                </section>
        </span>

        <span style="margin: 20px 0 0 20px">
            <section style="color: white; font-weight: bold;"><h3 class="headmobile ">Location</h3></section>
            <section section style="text-align: center"><a  href="https://www.google.com/maps/place/30%C2%B003'39.4%22N+31%C2%B020'03.9%22E/" target="_blank">
{#            <img class="iconmob" src="/ShoeZone/static/Media/Location.png" style="margin:15px 0px;"/></a></section>#}
            <img class="iconmob" src="../../../media/shoes/Media/Location.png" style="margin:15px 0px;"/></a></section>
        </span>

        <span style="margin: 20px 0 0 25px">
            <section style="color: white; font-weight: bold;"><h3 class="headmobile" style="text-align: center">Contact Us</h3></section>
{#            <section><img src="/ShoeZone/static/Media/telephone.png" class="iconmob phone" ><h5 class="num">01022611981</h5></section>#}
            <section><img src="../../../media/shoes/Media/telephone.png" class="iconmob phone" ><h5 class="num">01022611981</h5></section>
        </span>

    </footer>
    <section style="background-color: #111; height: 70px; text-align: center">
        <span style="display: inline">
{#            <img src="/ShoeZone/static/Media/QubeLogo.png" style="height: 64px;align-self: center; "><p style="color:white;display: inline">TeamQUBE®</p>#}
            <img src="../../../media/shoes/Media/QubeLogo.png" style="height: 64px;align-self: center; "><p style="color:white;display: inline">TeamQUBE®</p>
            </span>
    </section>
{% endif %}

{% block additional %}
{% endblock additional %}
</html>