{% extends 'shoes/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
{#    <link rel="stylesheet" href="/ShoeZone/static/CSS/sign_in.css">#}
    <link rel="stylesheet" href="{% static 'shoes/sign_in.css' %}">
{% endblock head %}

{% block content %}
    <div class="container">
        <form id="form" method="POST" style="height: 55%">
                <a href="{% url 'login' %}"><div><button class="btn" style="max-width: 70px;" type="button">← Back</button></div></a>
                {% csrf_token %}
                <h1>Resetting Password</h1>
                <h3 style="text-align: center">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"></div>
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </h3>
                {% if form.errors %}
                    <h3 style="text-align: center">This is not a valid Email :(</h3>
                {% endif %}
                <div class="input-control">
                    <label class ="label" for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="input-control" style="text-align: center">
                    <form action="#"><div><button id="button1" type="submit">Submit</button></div></form>
                </div>
            </form>
    </div>
{% endblock content %}
