{% extends 'shoes/base.html' %}
{% load static %}
{% block head %}
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
	<link href="{% static 'shoes/itempage.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'shoes/home.css' %}"/>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Google Icons-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"><!--Bootstrap Icons-->
	<link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"><!--Navbar/Slider-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"><!--NavBar/Slider-->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
{% endblock head %}

{% block content %}
<main>
    <div>
        {% for i in shoes %}
            <div class="container" style="margin-top:60px">
              <div class="product-image ">
                  <img src="/{{ i.img }}" alt="" class="product-pic">
                  <div class="dots">
                </div>
              </div>

              <div class="product-details shadow1">
                <header>
                  <h1 class="title">{{ i.name }}</h1>
                  <div class="colorCat">{{ i.color }}</div>
                  <div class="price"style="float:left;">
                    <span class="current">{{ i.price }}</span>
                  </div>
                </header>
                  <div class="color" style="margin-top: 60px">
                              {% if more_items %}
                                  <h5 class="label">select color:</h5>
                                  <ul style="margin: 0px">
                                  {% for j in more_items %}
                                      {% if j.color_hexa != "#000000" %}
                                          <a class="colors color-bdot1 active" style="margin: 20px 40px 20px -17px;  background-color: {{ j.color_hexa }};box-shadow: 0 0 4px 0px black, 0 0 1px 5px white, 0 0 10px 5px black" href="/item/{{ j.id }}"></a>
                                      {% else %}
                                          <a class="colors color-bdot1 active" style="margin: 20px 40px 20px -17px;  background-color: {{ j.color }};box-shadow: 0 0 4px 0px black, 0 0 1px 5px white, 0 0 10px 5px black" href="/item/{{ j.id }}"></a>
                                      {% endif %}
                                  {% endfor %}
                                  </ul>
                              {% else %}
                                  <h5>Available color:</h5>
                                  <ul style="margin: 0px">
                                  {% if i.color_hexa != "#000000" %}
                                      <li class="colors color-bdot1 active" style="margin: 20px 0px 20px -17px; background-color: {{ i.color_hexa }};box-shadow: 0 0 4px 0px black, 0 0 1px 5px white, 0 0 10px 5px black"></li>
                                  {% else %}
                                      <li class="colors color-bdot1 active" style="margin: 20px 0px 20px -17px; background-color: {{ i.color }};box-shadow: 0 0 4px 0px black, 0 0 1px 5px white, 0 0 10px 5px black"></li>
                                  {% endif %}
                                  </ul>
                              {% endif %}
                      </div>
                     <form method="POST" action="/add_product/{{ i.id }}">
                      {% csrf_token %}
                      <h5 onclick="myfunc();" style="display:inline;cursor: pointer;" class="label">Select Size: </h5>
                      <h6 onclick="myfunc();" style="display: inline;cursor: pointer;" id="choosen" class="label">{{ sort }}</h6>
                      <select name="sizeselect" id="sources" class="custom-select sources" placeholder=" ">
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                      </select>
                      <script>
                          function myfunction(){
                              alert("Please Sign in :(");
                          }
                      </script>
                      <div class="footer1" style="margin-top: 50px" >
                          {% if user.is_authenticated %}
                                  <button type="submit">
                                      <img src="http://co0kie.github.io/codepen/nike-product-page/cart.png" alt="">
                                      <span>add to cart</span>
                                  </button>
                          {% else %}
                                  <button type="button" onclick="myfunction()">
                                      <img src="http://co0kie.github.io/codepen/nike-product-page/cart.png" alt="">
                                      <span>add to cart</span>
                                  </button>
                          {% endif %}
                              {% if messages %}
                                  {% for message in messages %}
                                      <div class="alert alert" style="text-align: left"></div>
                                      {{ message }}
                                  {% endfor %}
                              {% endif %}
                      </div>
                  </form>
              </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% block additional %}
    <script>
        if (history.scrollRestoration) {
            history.scrollRestoration = 'manual';
        }
        else {
            window.onbeforeunload = function () {
                window.scrollTo(0, 0);
            }
        }
    </script>
    <script>
        const arr = [];
        let j = 0;
        {% for i in shoes %}
            arr[j] = $("#shoe_item{{ i.id }}");
            j++;
        {% endfor %}
    
        $(".custom-select").each(function() {
            var classes = $(this).attr("class"),
            id      = $(this).attr("id"),
            name    = $(this).attr("name");
            var template =  '<div class="' + classes + '">';
            template += '<span class="custom-select-trigger">' + $(this).attr("placeholder") + '</span>';
            template += '<div class="custom-options">';
                $(this).find("option").each(function() {
                template += '<span class="custom-option ' + $(this).attr("class") + '" data-value="' + $(this).attr("value") + '">' + $(this).html() + '</span>';
                });
                template += '</div></div>';
            $(this).wrap('<div class="custom-select-wrapper"></div>');
            $(this).hide();
            $(this).after(template);
        });
        $(".custom-option:first-of-type").hover(function() {
            $(this).parents(".custom-options").addClass("option-hover");
        }, function() {
            $(this).parents(".custom-options").removeClass("option-hover");
        });
        $(".custom-select-trigger").on("click", function() {
            $('html').one('click',function() {
                $(".custom-select").removeClass("opened");
                for (let w = 0; w < arr.length; w++) {
                    arr[w].css("zIndex", "");
                }
            });
            for (let y = 0; y < arr.length; y++) {
                arr[y].css("zIndex", "-1");
            }
            $(this).parents(".custom-select").toggleClass("opened");
            $('.custom-select-trigger').on('click',function() {
                if(!$(this).parents(".custom-select").hasClass("opened")){
                    for (let z = 0; z < arr.length; z++){
                        arr[z].css("zIndex", "");
                    }
                }
        });
        event.stopPropagation();
        });
    
        function myfunc(){
            $('html').one('click',function() {
                $(".custom-select").removeClass("opened");
                for (let w = 0; w < arr.length; w++) {
                    arr[w].css("zIndex", "");
                }
            });
            for (let y = 0; y < arr.length; y++) {
                arr[y].css("zIndex", "-1");
            }
            $(".custom-select").toggleClass("opened");
            function myfunc(){
                if(!$(this).parents(".custom-select").hasClass("opened")){
                    for (let z = 0; z < arr.length; z++){
                        arr[z].css("zIndex", "");
                    }
                }
            }
            event.stopPropagation();
        }
    
        $(".custom-option").on("click", function() {
            $(this).parents(".custom-select-wrapper").find("select").val($(this).data("value"));
            $(this).parents(".custom-options").find(".custom-option").removeClass("selection");
            $(this).addClass("selection");
            $(this).parents(".custom-select").removeClass("opened");
            // $(this).parents(".custom-select").find(".custom-select-trigger").text($(this).text());
            document.getElementById("choosen").innerHTML=$(this).text();
            $('#submit_form').trigger('click');
        });
    </script>
{% endblock additional %}