{% extends 'shoes/base.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../media/shoes/Media/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shoes/sign_in.css' %}">
{% endblock head %}

{% block content %}
    <div class="container">
        <div class="form-group">
            <form id="form" method="POST" style="height: 68%">
                {% csrf_token %}
                <h1>Enter New Password</h1>
                <h3 style="text-align: center">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}"></div>
                            {{ message }}
                        {% endfor %}
                    {% endif %}
                </h3>
                {% if form.errors %}
                    <h3 style="text-align: center">Password Doesn't Match :(</h3>
                {% endif %}
                <div class="input-control">
                    <label class ="label" for="email">New Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="input-control">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </div>
                <div class="input-control">
                    <label class ="label" for="email">Confirm New Password</label>
                    {{ form.new_password2 }}
                </div>
                <div class="input-control" style="text-align: center">
                    <form action="#"><div><button id="button1" type="submit">Submit</button></div></form>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
