{% extends 'shoes/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'shoes/home.css' %}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><!--Google Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"><!--Bootstrap Icons-->
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet"><!--Navbar/Slider-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"><!--NavBar/Slider-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script><!--NavBar/slider-->
{% endblock head %}

{% block content %}
{% if searched %}
        <br>
        <h1 align="center"> You Searched For {{ searched }}</h1>
        <br/>
        {% if shoes_brands %}
            <div class="flex">
            {% for i in shoes_brands %}
                <div class="box"><img src="../../../{{ i.img }}" class="img"><div><span class="name">{{ i.name }}</span><span class="price">{{ i.price }}</span></div></div>
            {% endfor %}
            </div>
        {% else %}
            <h1 align="center"> Nothing Found :(</h1>
        {% endif %}
    {% else %}
        <br>
        <h1 align="center"> Please Enter The Brand in Search Box</h1>
    {% endif %}
{% endblock content %}

{% block additional %}
<footer class="footer">

	<span style="margin: 20px 0 0 20px">
		<section style="color: white; font-weight: bold;"><h3 class="headmobile ">Social Media</h3></section>
		<section  style="text-align: center"><a href="https://www.instagram.com/shoe.zone21/?igshid=YmMyMTA2M2Y%3D" target="_blank"><img class="iconmob" src="../../../media/shoes/Media/instagram.png" style="margin: 15px 0px;"/></a></section>
		<section  style="text-align: center"><a href="https://www.facebook.com/profile.php?id=100064368121508&mibextid=ZbWKwL" target="_blank"><img class="iconmob" src="../../../media/shoes/Media/facebook.png" style="margin: 15px 0px;"/></a></section>
  	</span>

    <span style="margin: 20px 0 0 20px">
		<section style="color: white; font-weight: bold;"><h3 class="headmobile ">Location</h3></section>
		<section section style="text-align: center"><a  href="https://www.google.com/maps/place/30%C2%B003'39.4%22N+31%C2%B020'03.9%22E/" target="_blank">
		<img class="iconmob" src="../../../media/shoes/Media/Location.png" style="margin:15px 0px;"/></a></section>
	</span>

    <span style="margin: 20px 0 0 25px">
		<section style="color: white; font-weight: bold;"><h3 class="headmobile" style="text-align: center">Contact Us</h3></section>
		<section><img src="../../../media/shoes/Media/telephone.png" class="iconmob phone" ><h5 class="num">01022611981</h5></section>
	</span>

</footer>
<section style="background-color: #111; height: 70px; text-align: center">
    <span style="display: inline">
		<img src="../../../media/shoes/Media/QubeLogo.png" style="height: 64px;align-self: center; "><p style="color:white;display: inline">TeamQUBE®</p>
		</span>
</section>
{% endblock additional %}