{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoezone - Sign Out</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shoes/sign_in.css' %}">
</head>

<body>
    <div class="container">
        <form id="form_logout" method="POST">
            {% csrf_token %}
            <div class="anker">
            <h1>You Have Been Logged Out</h1>
            </div>
            <div style="font-size: medium">
                <br>
                <div class="anker">
                <a  href="{% url 'shoes-home' %}">
                <button class="btn" style="max-width: 125px" type="button">Go To Home</button>
                </a>
                <a  href="{% url 'login' %}">
                    <button class="btn " style="max-width: 125px;text-align:right;" type="button">Login Again</button>
                </a>
                </div>
            </div>
            <br>
        </form>
    </div>
</body>

</html>